# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-to-trash
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android
android/app/build/
android/build/
android/app/.cxx/
android/.gradle/
android/.kotlin/
android/local.properties

# Node
node_modules/
npm-debug.log
yarn-error.log

# Env
.env
.env.local

# Metro
.metro-health-check*
