.page {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}

.pageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-6;
}

.notification {
  padding: $spacing-2 0;
}

.notificationRead {
  opacity: 0.5;
}
