.popoverContent {
  z-index: 50;
  width: 18rem;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
  background-color: var(--color-popover);
  color: var(--color-popover-foreground);
  padding: $spacing-4;
  box-shadow: var(--shadow-base);
  outline: none;
  animation: contentShow 0.15s ease-out;
}