.section {
  width: 100%;
}

.py-0 {
  padding-block: 0;
}
.py-4 {
  padding-block: $spacing-4;
}
.py-6 {
  padding-block: $spacing-6;
}
.py-8 {
  padding-block: $spacing-8;
}
.py-10 {
  padding-block: $spacing-10;
}
.py-12 {
  padding-block: $spacing-12;
}
.py-16 {
  padding-block: $spacing-16;
}
